<div class="header pure pure-u-24-24">   
    <div class="banner">
      
    </div>
    <ul class="navbar">
      <li><a href="http://schoolserver.xsce.org" target="_blank">Internet in a Box School Server</a></li>
      <li><a href="/public/html/credits.html">Credits</a></li>
    </ul>
</div>
