<!DOCTYPE html>
<html>
<head>
  <title>Internet In A Box</title>
  <link rel="stylesheet" href="/menu-files/vendor/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/menu-files/vendor/css/font-awesome.min.css">
  <link rel="stylesheet" href="/menu-files/vendor/css/star-rating.min.css" media="all" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="/menu-files/vendor/css/xo-common.css">
  <!-- <link rel="stylesheet" type="text/css" href="/menu-files/css/iiab-menu.css"> -->
  <link rel="stylesheet" type="text/css" href="/menu-files/css/index.css">

  <script src="/menu-files/vendor/js/jquery.min.js"></script>
  <script src="/menu-files/vendor/js/bootstrap.min.js"></script>
  <script src="/menu-files/vendor/js/star-rating.min.js" type="text/javascript"></script>
</head>
<body>

  <div class="header">
    <div style="padding-left: 80%; padding-top: 30px;">
      <img id="btn-feedback" src="/menu-files/images/button_feedback.png">
    </div>
  </div>

  <div class="navbar col-xs-12 col-sm-12 col-md-12 col-lg-12">    
    <ul>
      <li><a href="http://schoolserver.xsce.org" target="_blank">Internet in a Box School Server</a></li>
      <li><a href="/menu-files/html/credits.html">Credits</a></li>
    </ul>
  </div>