body {
  background-color: #CBFFAA;
  font-family: sans-serif;
  margin: 7px;
}

/*-------------------------------------------*/
/*              CSS                     */
/*-------------------------------------------*/
a {
  color: #249;
  text-decoration: none;
  outline: none; 
}
a:hover { text-decoration: underline; }
a:visited { color: #649; }

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

h1 { 
  font-size: 180%; 
}

h2 {
  font-size: 140%; 
}

h3 {
  font-size: 120%; 
}


/*-------------------------------------------*/
/* Navbar                                    */
/*-------------------------------------------*/

.navbar {
  background: #666;
  border-radius: 5px;
  padding: 2px;
  min-height: initial;
}

.navbar li {
  font-weight: bold;
  float: left;
  margin-top: 2px;
  margin: 10px;
  font-size: 80%;
}

.navbar li a {
  color: white;
}


/*-------------------------------------------*/
/* BEGIN index modules                       */
/*-------------------------------------------*/

.header {
  display: block;
  height: 120px;
  width:100%;
  background: #000 url('../images/iiab_banner4.png') no-repeat 0 0;
  background-size: contain;
  border-radius: 5px;
  margin: auto;
}

.content-item {
  /*min-height: 200px;*/

  padding: 10px 0 10px 0;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 2px;
  background-color: #fff;
}

.content-item img {
  /*width: 120px;*/
  width: 100%;
  /*max-width: 120px;*/
  border-radius: 5px;
  float: left;
}

/*.content-item input[type="text"] { width: 20em; margin-left: 2px; }*/
/*.content-item input[type="submit"] { width: 14em; }*/

/*-------------------------------------------*/
/*          Flexbox Rules                    */
/*-------------------------------------------*/

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex .content-item {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  /* The following centers the images vertically
  in their parents. Flex within flex. */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex .content-icon {
  width: 100%;
}

.flex .content-icon img {
  object-fit: contain;
  height: 100%;
}

.flex .content-data {
  display: none;
}

/*-------------------------------------------*/
/*             col-xs Rules                  */
/*-------------------------------------------*/

@media (max-width: 767px) {
  /* Set icon max when on mobile & center */
  .content-icon img {
    max-width: 200px;
    float: none;
    margin: 0 auto;
    display: block;
  }
  .content-link {
    text-align: center;
  }
}