<% include partials/header.ejs %>

<!-- <div id="" class="content-item" dir="auto">Attempting to load</div>   -->

<div id="content">
  <% include partials/menu-item.ejs %>
</div>

<% include partials/feedback-form %>
<% include partials/footer.ejs %>
