<!DOCTYPE html>
<html>
<head>
  <title>Internet In A Box</title>
  <!-- <link rel="stylesheet" type="text/css" href="/public/vendor/css/reset.css"> -->
  <link rel="stylesheet" href="/public/vendor/css/pure-min.css"/>
  <link rel="stylesheet" href="/public/css/index2.css">
</head>
<body>
  <div class="container pure-g margin-auto">
    <% include partials/each-menu-item.ejs %>
  </div>

  <% include partials/footer.ejs %>
</body>
</html>