<!-- a href is the same as the H2 url link -->
<div class="content-icon">
  <a href="<%= domain.split(':')[0] + data[item]['href_path'] %>">
    <img class="pure-img" src="/public/images/<%= data[item]['logo_url'] %>" 
         alt="<%= data[item].title %>"
    />
  </a>
</div>